@{
    Layout = null;
}

<div class="modal fade" id="editor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <cmm-editor schema="schema" model="currentEntity"></cmm-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="onSaveClick()" data-dismiss="modal">@WebCommon.Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">@WebCommon.Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="cmm-grid">
    <div class="cmm-grid-toolbox">
        <cmm-button ng-click="onAddClick()" tooltip="@WebCommon.AddNewTitle" text="@WebCommon.AddNew" icon="plus" />
    </div>
    <table>
        <thead>
            <tr>
                <th ng-repeat="s in schema | filter: columnFilter">{{s.title}}</th>
                <th style="{{'width: ' +  (90 + customActionsCount * 45) + 'px;'}}">@WebCommon.Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in dataSource">
                <td ng-repeat="s in schema | filter: columnFilter">{{resolveField(e, s)}}</td>
                <td>
                    <cmm-button ng-repeat="a in customActions" extra-class="btn-sm" tooltip="{{a.tooltip}}" icon="{{a.icon}}" ng-click="invokeCustomAction(a, e)"></cmm-button>
                    <cmm-button ng-click="onEditClick(e)" extra-class="btn-sm" tooltip="@WebCommon.EditTitle" icon="pencil" ></cmm-button>
                    <cmm-button ng-click="onDeleteClick(e)" extra-class="btn-sm" tooltip="@WebCommon.DeleteTitle" icon="close" ></cmm-button>                   
                </td>
            </tr>
        </tbody>
    </table>
    <div class="cmm-grid-footer">
        @*<ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>*@
    </div>
</div>