@{
    ViewBag.Title = WebCommon.ProjectDetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WebCommon.ProjectDetailsPageTitle</h2>

<div class="project-details">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <cmm-button tooltip="@WebCommon.AddNewTitle" icon="plus" text="@WebCommon.AddNew"></cmm-button>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    aasd <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                </div>
            </div>
            <div class="text-center">
                <i class="fa fa-arrow-down fa-2x"></i>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    aasd 
                    <cmm-button extra-class="btn-xs pull-right margin-left-sm" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                    <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.EditTitle" icon="pencil"></cmm-button>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/>
                            Przygotowanie 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                            Przygotowanie 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                            Przygotowanie 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                            Przygotowanie 1
                        </label>
                    </div>                    
                </div>
            </div>
            <div class="text-center">
                <i class="fa fa-arrow-down fa-2x"></i>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    aasd <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                </div>
            </div><div class="text-center">
                      <i class="fa fa-arrow-down fa-2x"></i>
                  </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    aasd <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                </div>
            </div><div class="text-center">
                      <i class="fa fa-arrow-down fa-2x"></i>
                  </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    aasd <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                </div>
            </div><div class="text-center">
                      <i class="fa fa-arrow-down fa-2x"></i>
                  </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    aasd <cmm-button extra-class="btn-xs pull-right" tooltip="@WebCommon.DeleteTitle" icon="close"></cmm-button>
                </div>
            </div>

        </div>

    </div>
</div>